[flake8]
exclude =
    forest/bonsai/simulate_log_data.py,
    forest/jasmine/data2mobmat.py,
    forest/jasmine/mobmat2traj.py,
    forest/jasmine/sogp_gps.py,
    forest/poplar/constants,
    forest/poplar/functions/holidays.py,
    forest/poplar/functions/io.py,
    forest/poplar/functions/log.py,
    forest/poplar/functions/time.py,
    forest/poplar/functions/timezone.py,
    forest/poplar/raw,
    forest/willow/log_stats.py
