__pycache__/
.venv/
.DS_Store

# IntelliJ, VsCode project files
.idea
.vscode

# for installing Forest in editable mode when developing
/forest.egg-info/

#We don't want to add data to github
/tutorials/data/
/tutorials/comm_output/
/tutorials/gps_output/
/tutorials/gps_summary.csv

# Jupyter notebook checkpoints
.ipynb_checkpoints/

#sphinx build
docs/_build/

# any python environment files
.python-version
