__pycache__/
.DS_Store

# IntelliJ project files
.idea

# for installing Forest in editable mode when developing
/forest.egg-info/

#We don't want to add data to github
/tutorials/data/
/tutorials/comm_output/
/tutorials/gps_output/
/tutorials/gps_summary.csv

# Jupyter notebook checkpoints
.ipynb_checkpoints/

#sphinx build
docs/_build/

.venv
.vscode
issues
results
output
test*
plan*
gps_output