__pycache__/
.DS_Store

# IntelliJ project files
.idea

# for installing Forest in editable mode when developing
forest.egg-info/

#We don't want to add data to github
tutorials/data
tutorials/comm_output
tutorials/gps_output

#Remove checkpoints data because we don't need to double-track files
tutorials/.ipynb_checkpoints/forest_usage-checkpoint.ipynb
