# Install Python dependencies and run tests

name: build

on: push

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-20.04', 'windows-latest', 'macOS-latest']
    steps:
      - name: Checkout Forest code from GitHub repo
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install Forest
        run: pip install -e .
      - name: Install dev dependecies
        run: pip install -r requirements.txt
      - name: Run code style checking
        run: flake8
      - name: Run static type checking
        run: mypy -p forest
      - name: Run legacy tests
        run: python -m unittest tests/imports.py
      - name: Run pytest suite
        run: pytest
