# Install Python dependencies and run tests
name: 'Build and test'

on:
  push:
  workflow_dispatch:

jobs:
  test:
    name: 'Run tests'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-22.04', 'windows-2022', 'macos-12']
    steps:
      - name: Check out Forest code
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
      - name: Install Forest dependencies for Linux
        # required by librosa
        if: ${{ startsWith(matrix.os, 'ubuntu') }}
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg libsndfile1
      - name: Install Forest dependencies for Windows
        # required by librosa
        if: ${{ startsWith(matrix.os, 'windows') }}
        uses: FedericoCarboni/setup-ffmpeg@v2
        id: setup-ffmpeg
      - name: Install Forest
        run: pip install -e .
      - name: Install dev dependencies
        run: pip install -r requirements.txt
      - name: Run code style checking
        run: flake8
      - name: Run static type checking
        run: mypy -p forest
      - name: Run legacy tests
        run: python -m unittest tests/imports.py
      - name: Run pytest suite
        run: pytest
